.form {
  max-width: 320px;
  margin: 10px auto;
  text-align: left;
}

.form input[type=number], .form fieldset  {
  width: 100%;
  padding: 2px 12px;
}

.form fieldset {
  margin: 0;
  padding: 12px;
}

.form input, .form fieldset, .form button {
  margin-top: 10px;
}